@import 'bootstrap';


body {
  background-color: #F5F5F1;
  color: #333333;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.bg {
	height:100%;
  background-image: url(' http://dl.dropbox.com/s/shbhxsf4fpr08h2/bg-server.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: right top;
  }

  .bg-servicios {
  height:100%;
  background-image: url('services.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 75% 10%;;
  }

  .bg-us {
  height:100%;
  background-image: url('us.png');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: 75% 10%;;
  }

  h2{
  	text-align: left;
  	font-family: 'Oswald', sans-serif;
  	font-size: 3em;
  	color: #fff;
  	text-transform: uppercase;
  	margin-bottom: 2px !important;
  }
 
 h3{
  	text-align: left;
  	font-family: 'Oswald', sans-serif;
  	font-size: 1.5em;
  	color: #e97231;
  	text-transform: uppercase;
  }

  h6{
    vertical-align: middle;
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #e97231;
    background-color: #e97231;
    width: 350px;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 4px;
  }
 
 img {
  	vertical-align: middle;
  	text-align: left;
  	margin-right: 75%;
  }
 
 h7{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    color: #e97231;
    text-transform: uppercase;
  }

  h8{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    color: #000000;
    text-transform: uppercase;
  }

  /* Inset, by Dan Eden */
    
hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
h9{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    color: #e97231;
    text-transform: uppercase;
  }
  h10{
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-size: 1.0em;
    color: #fff;
    text-transform: uppercase;
  }

img.icon-servicios{
    margin-right: 90%;
    margin-top: 10%;
  }
